<style>
body {
  background-image: url("/assets/splash.jpg");
}
</style>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
      <form action="<%= session_url %>" method="post">
        <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

        <div class="form-group">
          <label for="user_username" class="white-text splash">Username</label>
          <input
          class="form-control"
          id="user_username"
          name="user[username]"
          type="text">
        </div>

        <div class="form-group">
          <label for="user_password" class="white-text splash">Password</label>
          <input
          class="form-control"
          id="user_password"
          name="user[password]"
          type="password">
        </div>

        <button class="btn btn-default">Sign in</button>
      </form>
      <a href="/users/new"><button class="btn btn-default sign-up-button">Sign up</button></a>
      <a href=""><button class="btn btn-default guest-button">Sign in as guest</button></a>
  </div>
</div>

