<style>
body {
  background-image: url("/assets/splash.jpg");
}

nav {
  display: none;
}

#footer {
  display: none;
}
</style>
<div class="container">
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-default sign-up-container clearfix hoverable">
      <img class="logo-brand-image" src="/assets/logo_with_brand.png">
      <form action="<%= session_url %>" method="post">
        <input
        name="authenticity_token"
        type="hidden"
        value="<%= form_authenticity_token %>">

        <div class="form-group">
          <input
          placeholder="Username"
          class="form-control"
          id="user_username"
          name="user[username]"
          type="text">
        </div>

        <div class="form-group">
          <input
          placeholder="Password"
          class="form-control"
          id="user_password"
          name="user[password]"
          type="password">
        </div>

        <button class="btn btn-info sign-in-button">Sign in</button>
      </form>
      <button class="btn btn-success guest-button">Sign in as guest</button>
      <span class="sign-up-link">Not a member? <a href="/users/new">Join now</a></span>
    </div>
  </div>
</div>
</div>
