/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.star {
  background-color: #C0C0C0;
  margin: 0px;
  border-color: white;
}

.star:hover {
  border-color: white;
}

.glyphicon-heart {
  color: white;
}

.star.stars-selected-1 {
  background-color: black;
}

.star.stars-selected-2 {
  background-color: #556B2F;
}

.star.stars-selected-3 {
  background-color: #228B22;
}

.star.stars-selected-4 {
  background-color: #32CD32;
}

.star.stars-selected-5 {
  background-color: #00FF00;
}