/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

nav {
  border-radius: 0 !important;
}

body {
  background-color: whitesmoke;
}

label {
  font-weight: normal !important;
}

.star, .static-star {
  background-color: #C0C0C0;
  margin: 1px;
  border-color: #C0C0C0;
}

.static-star:hover {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
};

.star:hover {
  border-color: white;
}

.glyphicon-heart {
  color: white;
}

.star.stars-selected-1, .static-star.stars-selected-1 {
  background-color: black;
  border-color: black;
}

.star.stars-selected-2, .static-star.stars-selected-2 {
  background-color: #556B2F;
  border-color: #556B2F;
}

.star.stars-selected-3, .static-star.stars-selected-3 {
  background-color: #228B22;
  border-color: #228B22;
}

.star.stars-selected-4, .static-star.stars-selected-4 {
  background-color: #32CD32;
  border-color: #32CD32;
}

.star.stars-selected-5, .static-star.stars-selected-5 {
  background-color: #00FF00;
  border-color: #00FF00;
}

.location-info, .more-location-info, .review-info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select-disabled {
  color: grey;
}

.location-photo {
  height: 250px;
  margin-top: 30px;
}

.add-review {
  float: right;
}

.review-info {
  float: left;
  margin: 10px;
  width: 150px;
}

.review-body {
  margin: 10px;
  float: left;
  width: 450px;
}

.review-container {
  margin: 10px;
  shadow: none;
  background-color: white;
  padding: 10px;
}

.clearfix:after {
  clear: both;
  display: table;
  content: ' ';
}

.location-info-container, .new-location-container {
 padding: 20px; 
}

.location-left-col {
  float: left;
  width: 300px;
  margin: 10px;
}

.location-right-col {
  float: right;
  width: 300px;
  margin-top: 30px;
}

.navbar {
  background-color: white;
}

.more-location-info > li {
  margin: 10px;
}

.location-info-container {
  height: 503px;
}

li.average-stars {
  margin-bottom: 10px;
}

img.logo-image {
  height: 40px;
  margin-top: -10px;
  margin-left: -5px;
}

.sign-up-container {
  padding: 20px;
}

.sign-in-container {
  padding: 20px;
}

//.hoverable {
//  transition: box-shadow 0.3s ease;
//}

/*.hoverable:hover {
  box-shadow: 0px 0px 50px palegreen;
};*/

.photo-thumbnail {
  width: 300px;
  margin: 10px;
}

div.thumbnail {
  width: 310px;
  float: left;
  margin: 10px;
}

.signout-button {
  background-color: whitesmoke;
  color: black;
  border-color: lightgrey;
}

.signout-button:hover {
  background-color: #556B2F;
  border-color: #556B2F;
}

.white-text {
  color: white;
}

.photo-thumbnail {
width: 300px;
margin: 0px;
}