/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";


nav {
  border-radius: 0 !important;
}

body {
  background-color: whitesmoke;
}

label {
  font-weight: normal !important;
}

.star, .static-star {
  background-color: #C0C0C0;
  margin: 1px;
  border-color: #C0C0C0;
}

.static-star:hover {
  background-color: #C0C0C0;
  border-color: #C0C0C0;
};

.star:hover {
  border-color: white;
}

.glyphicon-heart {
  color: white;
}

.star.stars-selected-1, .static-star.stars-selected-1 {
  background-color: black;
  border-color: black;
}

.star.stars-selected-2, .static-star.stars-selected-2 {
  background-color: #556B2F;
  border-color: #556B2F;
}

.star.stars-selected-3, .static-star.stars-selected-3 {
  background-color: #228B22;
  border-color: #228B22;
}

.star.stars-selected-4, .static-star.stars-selected-4 {
  background-color: #32CD32;
  border-color: #32CD32;
}

.star.stars-selected-5, .static-star.stars-selected-5 {
  background-color: #00FF00;
  border-color: #00FF00;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.select-disabled {
  color: grey;
}

.location-photo {
  max-height: 250px !important;
  margin-top: 30px;
}

img.img-responsive {
  max-height: 250px !important;
}

.toggle-favorite {
  float: right;
}

.review-info {
  float: left;
  margin: 10px;
  width: 150px;
}

.review-body {
  margin: 10px;
  float: left;
  width: 450px;
}

.review-container {
  margin: 10px;
  shadow: none;
  background-color: white;
  padding: 10px;
}

.clearfix:after {
  clear: both;
  display: table;
  content: ' ';
}

.location-info-container, .new-location-container {
 padding: 20px; 
}

.location-left-col {
  float: left;
  width: 300px;
  margin: 10px;
}

.location-right-col {
  float: right;
  width: 300px;
  margin-top: 30px;
}

.navbar {
  background-color: white;
  border-right: none;
}

.more-location-info > li {
  margin: 10px;
}

.location-info-container {
  height: 503px;
}

li.average-stars {
  margin-bottom: 10px;
}

img.logo-image {
  height: 35px;
  margin-top: -5px;
  margin-left: -5px;
}

.sign-up-container {
  padding: 20px;
  background-color: rgba(245, 245, 245, 0.8);
  border: none;
}

.sign-in-container {
  padding: 20px;
}

//.hoverable {
//  transition: box-shadow 0.3s ease;
//}

/*.hoverable:hover {
  box-shadow: 0px 0px 50px palegreen;
};*/

.photo-thumbnail {
  width: 300px;
  margin: 10px;
}

div.thumbnail {
  width: 310px;
  float: left;
  margin: 10px;
}

.signout-button {
  background-color: whitesmoke;
  color: black;
  border-color: lightgrey;
}

.signout-button:hover {
  background-color: #556B2F;
  border-color: #556B2F;
}

.white-text {
  color: white;
}

.photo-thumbnail {
  width: 300px;
  margin: 0px;
}

.img-responsive {
  margin: 10px;
}

h2.username {
  margin: 10px;
}

.user-info {
  margin: 10px;
}

//.splash {
//  text-shadow: 1px 1px  1px black;
//}

.sign-up-button {
  margin-top: 10px;
}

.guest-button {
  margin-top: 10px;
  width: 100%;
  height: 45px;
}

.sign-in-button {
  width: 100%;
}

.guest-button {
  transition: box-shadow 0.3s ease;
}

.guest-button:hover {
//  box-shadow: 0px 0px 20px whitesmoke;
};

.user-photo-small {
  height: 50px;
  border-radius: 3px;
}

.btn[disabled] {
  opacity: 1;
}

.category-icon-container {
  height: 200px;
  width: 200px;
  border-style: solid;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
}

.category-icon-container:hover {
  box-shadow: 0px 0px 30px dimgray;
};

.category-icon {
  display: block;
  max-height: 75px;
  margin: auto;
}

.brand-image {
  margin-top: 5px;
  margin-left: 0px;
  height: 25px;
}

.location-index-show {
  transition: box-shadow 0.3s ease;
}

.location-index-show:hover {
  box-shadow: 0px 0px 30px dimgray;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
}

html, body {height: 100%;
}

#wrap {min-height: 100%;
}

#main {overflow:auto;
	padding-bottom: 150px;
}

#footer {position: relative;
  padding-top: 30px;
	margin-top: -50px;
	height: 255px;
	clear: both;
  margin-bottom: 0px;
  border-radius: 0 !important;
  border-right: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  opacity: 0.6;
  color: black;
} 

.bottom-copyright {
  margin-left: -30px;
  margin-top: 20px;
  border-top: 1px solid black;
}

.logo-image-small {
  height: 30px;
}

.brand-image-small {
  height: 23px;
  margin-top: 8px;
}

.copyright-text{
  margin-top: 27px;
}

.index-caption {
  font-size: 1.2em;
  font-family: "Optima", Helvetica, Arial, sans-serif;
  margin: 10px auto;
}

.middle-cat {
  margin-top: 40px;
  margin-bottom: 45px;
}

.sign-up-container {
  margin-top: 150px;
}

a.opaque:hover {
  opacity: 1;
}

.logo-brand-image {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.sign-up-link {
  margin-top: 10px;
  display: block;
}

.user-container {
  margin-top: 10px;
  padding: 20px;
}

.user-review-container {
  margin: 10px;
  padding: 10px;
  margin-left: 0px;
}

.location-favorite-show-container {
  height: 75px;
  width: 200px;
  float: left;
}

.favorite-header {
  display: block;
  float: left;
//  margin-top: -0px;
//  margin-left: -75px;
}

.category-col {
  margin-right: 55px;
}

.category-grid, .category-grid-header {
  margin-left: 20px;
}

.category-grid-header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.location-index-caption {
//  font-size: 1.1elm;
//  font-family: "Optima", Helvetica, Arial, sans-serif;
  margin-bottom: -18px;
  margin-left: -5px;
}

.photo-thumbnail-small {
  width: 250px;
  margin: 10px;
  margin-top: 0px;
}

div.thumbnail.thumbnail-small {
  width: 260px;
  float: left;
  margin: 10px;
}

.small-caption {
  margin-top: -10px;
}

.location-index-header {
  margin-left: 0px;
}

.add-location {
  margin-top: 25px;
}

.location-favorite-show-container, .user-favorite-show-container {
  transition: box-shadow 0.3s ease;
}

.location-favorite-show-container:hover, .user-favorite-show-container:hover {
  box-shadow: 0px 0px 15px dimgray;
}