<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/anthill.png">
  <div class="caption">
    Anthills
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/bathroom.png">
  <div class="caption">
    Bathrooms
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/bench.png">
  <div class="caption">
    Benches
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/bike_rack.png">
  <div class="caption">
    Bike racks
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/logo.png">
  <div class="caption">
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/motorcycle_parking.png">
  <div class="caption">
    Motorcycle parking
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/trashcan.png">
  <div class="caption">
    Trashcans
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/vending_machine.png">
  <div class="caption">
    Vending machines
  </div>
</div>

<div class="thumbnail category-icon-container">
  <img class="category-icon" src="/assets/water_fountain.png">
  <div class="caption">
    Water fountains
  </div>
</div>