<div class="container" id="main">
<div class="row category-grid-header">
  <div class="col-xs-6">
    <h3>Pick a category to get started.</h3>
  </div>
  <div class="col-xs-2 col-xs-offset-3">
    <h3>Find me:</h3>
  </div>
</div>

<div class="row category-grid">
  
  <div class="col-xs-2 category-col">
    
    <div class="panel panel-default category-icon-container" data-cat="Anthill">
      <img class="category-icon" src="/assets/anthill.png">
      <div class="index-caption">
        Anthills
      </div>
    </div>
    
    <div class="panel panel-default category-icon-container middle-cat" data-cat="Bike rack">
      <img class="category-icon" src="/assets/bike_rack.png">
      <div class="index-caption">
        Bike racks
      </div>
    </div>
    
    <div class="panel panel-default category-icon-container" data-cat="Trashcan">
      <img class="category-icon" src="/assets/trashcan.png">
      <div class="index-caption">
        Trash cans
      </div>
    </div>
    
  </div>
  
  <div class="col-xs-2 category-col">
    
    <div class="panel panel-default category-icon-container" data-cat="Bathroom">
      <img class="category-icon" src="/assets/bathroom.png">
      <div class="index-caption">
        Bathrooms
      </div>
    </div>
    
    <div class="panel panel-default category-icon-container middle-cat">
      <img class="category-icon" src="/assets/asterisk.png">
      <div class="index-caption">
        All
      </div>
    </div>
    
    <div class="panel panel-default category-icon-container" data-cat="Vending machine">
      <img class="category-icon" src="/assets/vending_machine.png">
      <div class="index-caption">
        Vending machines
      </div>
    </div>
    
  </div>
  
  <div class="col-xs-2 category-col">
    
    <div class="panel panel-default category-icon-container" data-cat="Bench">
      <img class="category-icon" src="/assets/bench.png">
      <div class="index-caption">
        Benches
      </div>
    </div>
    
    <div class="panel panel-default category-icon-container middle-cat" data-cat="Motorcycle parking">
      <img class="category-icon" src="/assets/motorcycle_parking.png">
      <div class="index-caption">
        Motorcycle parking
      </div>
    </div>
    
    <div class="panel panel-default category-icon-container" data-cat="Water fountain">
      <img class="category-icon" src="/assets/water_fountain.png">
      <div class="index-caption">
        Water fountains
      </div>
    </div>
    
  </div>
  
</div>
</div>