<div class="pull-right">
  <h4 class="favorite-header">Favorited by</h4>
  <div class="favorites"></div>
</div>
<div class="location-show-left-col">
  <div class="location-info"></div>
  <div class="review-new"></div>
  <div class="reviews"></div>
</div>
