<a href="#/users/<%= favorite.get('id') %>">
  <div class="panel panel-default location-favorite-show-container">
    <div class="review-info">
      <img class="user-photo-small" src="<%= favorite.get("user_photo_url") %>">
      <%= favorite.escape('username') %>
    </div>
  </div>
</a>