<h2><%= location.escape("name") %></h2>
<ul class="location-info">
  <li><%= location.escape("category") %></li>
  <li><%= location.escape("address") %></li>
</ul>

<div class="review-new"></div>
<div class="reviews"></div>