<a href="#/locations/<%= location.get('id') %>">
  <div class="thumbnail">
    <img src="<%= location.get('photo_url') %>" class="photo-thumbnail">
    <div class="caption">
      <p><%= location.escape("name") %></p>
    </div>
  </div>
</a>