<script type="text/javascript">
  function mapInitialize() {
    var mapOptions = {
      center: new google.maps.LatLng(<%=user.get("latitude")%>,<%=user.get("longitude")%>),
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);
  }
</script>

<div id="map-canvas"></div>

<script>
  mapInitialize();
</script>
