<a href="#/locations/<%= favorite.get('id') %>">
  <div class="thumbnail location-index-show">
    <img src="<%= favorite.get("location_photo_url") %>" class="photo-thumbnail">
    <div class="caption index-caption">
      <p><%= favorite.escape('name') %></p>
    </div>
  </div>
</a>