<a href="#/location/<%= favorite.get('id') %>">
  <div class="thumbnail thumbnail-small user-favorite-show-container">
    <img src="<%= favorite.get("location_photo_url") %>" class="photo-thumbnail-small">
    <div class="caption location-index-caption small-caption">
      <p><%= favorite.escape('name') %></p>
    </div>
  </div>
</a>