<a href="#/location/<%= review.location().get('id') %>"><div>
  <img src="<%= review.get("location_photo_url") %>" class="photo-thumbnail-tiny">
  <p><%= review.location().escape("name") %></p>
  <p><%= review.location().escape("address") %></p>
</div></a>