<div class="panel panel-default" id="footer">
  <div class="container">
    <div class="row footer-links">
      
      <div class="col-xs-5">
        <p>About us</p>
        <ul>
          <li>
            <a href>2014 Highlights</a>
          </li>
          <li>
            <a href>Who we are</a>
          </li>
          <li>
            <a href>Jobs</a>
          </li>
          <li>
            <a href>Press</a>
          </li>
          <li>
            <a href>Stats</a>
          </li>
          <li>
            <a href>Places we love</a>
          </li>
        </ul>
      </div>
      
      <div class="col-xs-5">
        <p>Help</p>
        <ul>
          <li>
            <a href>What is illume?</a>
          </li>
          <li>
            <a href>FAQ</a>
          </li>
          <li>
            <a href>Support</a>
          </li>
          <li>
            <a href>Terms of use</a>
          </li>
          <li>
            <a href>Privacy policy</a>
          </li>
        </ul>
      </div>
      
      
      <div class="col-xs-2">
        <p>Connect</p>
        <ul>
          <li>
            <a href><i class="fa fa-twitter-square"></i>Twitter</a>
          </li>
          <li>
            <a href><i class="fa fa-facebook-square"></i>Facebook</a>
          </li>
          <li>
            <a href><i class="fa fa-tumblr-square"></i>Tumblr</a>
          </li>
          <li>
            <a href><i class="fa fa-instagram"></i>Instagram</a>
          </li>
          <li>
            <a href><i class="fa fa-vine"></i>Vine</a>
          </li>
          <li>
            <a href>Blog</a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="bottom-copyright">
      <a class="navbar-brand" href="/#"><img class="logo-image-small" src="/assets/logo.png"><img class="brand-image-small" src="/assets/brand.png"></a>
      <span class="pull-right copyright-text">
        © 2014 illume, Inc.
      </span>
    </div>
  </div>
</div>